<!doctype html> 
<html> 
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <title>The Fist NodeJS Project!!!</title> 
</head>
    <body>
        {{{body}}} 
    </body> 
</html>